<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %> 
</head>
<body>
    <header>

    </header>
    this is home page
    <footer>
        <% include ../partials/foot %>
    </footer>
</body>
</html>